src/main/mule/advanced-topics-objectstore.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1ce772ab-e1ff-4583-947d-4c5513279f61">
		<http:listener-connection protocol="HTTP" host="0.0.0.0" port="8081" />
	</http:listener-config>
	<os:config name="ObjectStore_Config" doc:name="ObjectStore Config" doc:id="fd1c8855-aa3e-4ea7-817b-ba8d5064b4e9" >
		<os:connection />
	</os:config>
	<os:object-store name="Object_store" doc:name="Object store" doc:id="08d26d85-2bf3-4ba1-945b-6e54dd2b60f5" config-ref="ObjectStore_Config" />
	<flow name="advanced-topics-objectstoreFlow" doc:id="b4d2b51d-4451-47e0-9bc7-c4322420fe0b" >
		<http:listener doc:name="Listener" doc:id="7b68054f-350b-4f0c-aea2-1dd3616a8b88" config-ref="HTTP_Listener_config" path="/objectstore"/>
		<logger level="INFO" doc:name="Logger" doc:id="b29beca8-cb6e-4bc2-8a88-837c7b2e5ebe" message="#[attributes['Method']]"/>
		<choice doc:name="Choice" doc:id="06d1d0be-0487-49a8-9a7e-bb10fe8a51f6" >
			<when expression="#[attributes['Method'] == 'GET']">
				<flow-ref doc:name="Flow-ref to advanced-topics-objectstore-get-cache" doc:id="b581944a-b170-47b0-a1ad-41750c9dea37" name="advanced-topics-objectstore-get-cache"/>
			</when>
			<when expression="#[attributes['Method'] == 'POST']">
				<flow-ref doc:name="Flow-ref to advanced-topics-objectstore-set-cache" doc:id="630cbe35-0f54-4782-b06b-26983f220b73" name="advanced-topics-objectstore-set-cache"/>
			</when>
			<otherwise >
				<flow-ref doc:name="Flow-ref to advanced-topics-objectstore-delete-cache" doc:id="279d3172-107e-44e7-94be-45b6849a782d" name="advanced-topics-objectstore-delete-cache"/>
			</otherwise>
		</choice>
	</flow>
	<sub-flow name="advanced-topics-objectstore-get-cache" doc:id="bf3dc1d6-fbf1-48ac-95c6-f36b83bf7e14" >
		<logger level="INFO" doc:name="START advanced-topics-objectstore-get-cache" doc:id="90cbed94-60a7-427f-9080-79c2c759c273" message="START advanced-topics-objectstore-get-cache"/>
		<os:retrieve doc:id="542f69dd-a8a2-4667-8c6f-7b354076bac4" key="#[payload]" objectStore="Object_store"/>
		<logger level="INFO" doc:name="END advanced-topics-objectstore-get-cache" doc:id="e7bd828f-77d6-419f-8214-43c1d623a248" message="END advanced-topics-objectstore-get-cache" />
	</sub-flow>
	<sub-flow name="advanced-topics-objectstore-set-cache" doc:id="bf63cfbe-1c13-4ce5-bd2c-4e1c262e456d" >
		<logger level="INFO" doc:name="START advanced-topics-objectstore-set-cache" doc:id="98556b2e-ace0-4a43-b5e0-baf1c3b3c6a8" message="START advanced-topics-objectstore-set-cache" />
		<os:store doc:name="Store" doc:id="20fc86e0-6cdb-45de-9bc9-2a6c343fc582" key="#[payload.key]" objectStore="Object_store"/>
		<logger level="INFO" doc:name="END advanced-topics-objectstore-set-cache" doc:id="2a7362cf-537d-4194-bc5a-b0f6b749c242" message="END advanced-topics-objectstore-set-cache" />
	</sub-flow>
	<sub-flow name="advanced-topics-objectstore-delete-cache" doc:id="12e21602-3462-4633-b8e0-063c36f8caa8" >
		<logger level="INFO" doc:name="START advanced-topics-objectstore-delete-cache" doc:id="a2f34469-7dec-4f54-ab5b-cc8418a81ff9" message="START advanced-topics-objectstore-delete-cache" />
		<os:remove doc:name="Remove" doc:id="96c675aa-8373-4ae8-98b9-a059f7049e93" key="#[payload]" objectStore="Object_store"/>
		<logger level="INFO" doc:name="END advanced-topics-objectstore-delete-cache" doc:id="983dd192-707d-48fd-bd4c-4a704dcdcb06" message="END advanced-topics-objectstore-delete-cache" />
	</sub-flow>
</mule>
